<a href="https://colab.research.google.com/github/sapnaprane/Python/blob/main/sapna.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Day1 assignment 1 (question 2 and 3 included)

studName = input("Enter Student Name : ")
RollNo = input("Enter Student Roll Number : ")
Class = input("Enter Class : ")
Java = int (input("Enter Java Marks : "))
CPlus = int (input("Enter C++ Marks : "))
Python = int(input("Enter Python Marks : "))
Ruby = int (input("Enter Ruby Marks : "))
SQL = int (input("Enter SQL Marks : "))

total = Java+CPlus+Python+Ruby+SQL
Percentage = total/5

print("Student Name :", studName)
print("Roll No. :", RollNo)
print("Class:", Class)
print("Java marks : ",Java)
print("C++ marks :",CPlus)
print("Python marks :",Python)
print("Ruby marks :",Ruby)
print("SQL marks :", SQL)
print("Total Marks :",total)
print("Percentage :",Percentage, "%")

#question 3

Number1 = float (input("Enter Number 1 : "))
Number2 = float (input("Enter Number 2 : "))

total2 = Number1*Number2
1
print("Number 1 x  Number 2 =",total2)

Enter Student Name : sap
Enter Student Roll Number : 32
Enter Class : mca
Enter Java Marks : 45
Enter C++ Marks : 45
Enter Python Marks : 45
Enter Ruby Marks : 45
Enter SQL Marks : 45
Student Name : sap
Roll No. : 32
Class: mca
Java marks :  45
C++ marks : 45
Python marks : 45
Ruby marks : 45
SQL marks : 45
Total Marks : 225
Percentage : 45.0 %
Enter Number 1 : 32
Enter Number 2 : 23
Number 1 x  Number 2 = 736.0

In [ ]:
#Assignment 2 (Question 1)
num = int(input("Enter Number : "))

if num%2==0:
 print("Number you entered is Even")
else:
 print("Number you entered is Odd")

Enter Number : 65
Number you entered is Odd

In [ ]:
# Assignment 2 (Question 2)

lett = input("Enter the Alphabet : ")
# a e i o u

if (lett=='A' or lett=='a' or lett=='E' or lett=='e' or lett=='I' or lett=='i' or lett=='O' or lett=='o' or lett=='U' or lett=='u'):
  print("Entered Alphabet is Vowel")

else:
  print("Entered Alphabet is Consonant")

Enter the Alphabet : T
Entered Alphabet is Consonant

In [ ]:
# Day 2 Assignment 2 (Question 3)

num1 = int(input("Enter Value for Number1 : "))
num2 = int(input("Enter Value for Number2 : "))
num3 = int(input("Enter Value for Number3 : "))

if num1 > num2 and num1 > num3:
  print("Number 1 is Biggest")
elif num2 > num1 and num2 > num3:
  print("Number 2 is Biggest")
elif num2 > num1 and num2 > num3:
  print("Number 3 is Biggest")
else:
  print("All values are equal")

Enter Value for Number1 : 45
Enter Value for Number2 : 88
Enter Value for Number3 : 34
Number 2 is Biggest

In [ ]:
# Assignment 2 (Question 4
year = int(input("Enter The Year : "))

if year%4==0:
 print(year, "is a Leap Year")
else:
 print(year, "is not a Leap Year")

Enter The Year : 2015
2015 is not a Leap Year

In [ ]:
# Assignment 2 (Question 5)

Sci = int(input("Science Marks : "))
math = int(input("Math Marks : "))
hin = int (input("Hindi Marks : "))
mar = int (input("Marathi Marks : "))
eng = int (input("English Marks : "))

Total = Sci + math + hin + mar + eng
per = Total/5

if per >= 32 and per <50:
  print ("You got Grade D ")
elif per >= 50 and per <60:
  print ("You got Grade C ")
elif per >= 60 and per <80:
  print ("You got Grade B")
elif per >= 80 and per == 100:
  print ("You got Grade A")
else:
  print ("You got Grade F")

Science Marks : 100
Math Marks : 100
Hindi Marks : 100
Marathi Marks : 100
English Marks : 100
You got Grade A

In [ ]:
from re import U
# Assignment 2 (Question 6)

Uyr = int(input ("Enter your Birth Year : "))
Umnt = int(input ("Enter your Birth Month : "))
Udt = int(input ("Enter your Birth Day : "))

Cyr = int(input ("Enter Current Year : "))
Cmnt = int(input ("Enter Current Month : "))
Cdt = int(input ("Enter Current Day : "))

diffy = Cyr - Uyr
diffmnt = Cmnt - Umnt
diffdt = Cdt - Udt

totalmnt = (diffy*12)+(diffmnt)
totaldays = (diffy*365)+(diffmnt/12*365)+(diffdt)
totalwk = totaldays/7
totalhr = totaldays*24
totalmin = totalhr*60
totalsec = totalmin*60


print("Your age is ", diffy,"year", diffmnt,"Months", diffdt, "Days")
print("OR Your age is ", totalmnt,"Months", diffdt, "Days")
print("OR Your age is ", totalwk,"weeks")
print("OR Your age is ", totaldays, "Days")
print("OR Your age is ", totalhr, "hours")
print("OR Your age is ", totalmin, "mins")
print("OR Your age is ", totalsec, "seconds")

Enter your Birth Year : 2015
Enter your Birth Month : 05
Enter your Birth Day : 22
Enter Current Year : 2023
Enter Current Month : 07
Enter Current Day : 31
Your age is  8 year 2 Months 9 Days
OR Your age is  98 Months 9 Days
OR Your age is  427.11904761904765 weeks
OR Your age is  2989.8333333333335 Days
OR Your age is  71756.0 hours
OR Your age is  4305360.0 mins
OR Your age is  258321600.0 seconds

In [ ]:
# Day3 ASCII Table
# print Alphabet user input

#startAlphabet = str(input('start Alphabet '))
#endAlphabet = str(input(' end Alphabet '))
#startint = ord(startAlphabet) # ord() = char to ASCII value
#endint = ord(endAlphabet)
#for i in range(startint,endint+1):
#    print(chr(i), end=' ') # chr() =  ASCII value to char

startAlphabet = input("Enter Start Alphabet ")
endAlphabet = input("Enter Start Alphabet ")

startint = ord(startAlphabet)
endint = ord(endAlphabet)

for i in range(startint, endint+1):
  print(chr(i))

Enter Start Alphabet k
Enter Start Alphabet s
k
l
m
n
o
p
q
r
s

In [ ]:
# Day 3 Assignments- Question no. 1 (Calculate sum of natural numbers)(while loop)

startNum = int(input("Enter Start Number "))
endNum = int(input("Enter End Number "))
sum=0

while (startNum<=endNum):
  sum+=startNum
  startNum+=1

print(sum)

Enter Start Number 10
Enter End Number 12
33

In [ ]:
#assignment question no. 2 (table)

Num = int(input("Enter Number for Table "))

for i in range(1,10+1):
  print(Num, " X ", i, "=", Num*i)

Enter Number for Table 5
5  X  1 = 5
5  X  2 = 10
5  X  3 = 15
5  X  4 = 20
5  X  5 = 25
5  X  6 = 30
5  X  7 = 35
5  X  8 = 40
5  X  9 = 45
5  X  10 = 50

In [10]:
#question no. 3 and 4 (count of alphabets and digits)

Str = input("Enter Word : ")
Num = input("Enter the number : ")

print("Total Count of Alphabet : ",len(Str))
print("Total Count of Digits : ",len(Num))

Enter Word : oqurld
Enter the number : 878783833
Total Count of Alphabet :  6
Total Count of Digits :  9

In [11]:
#question no. 5 (reverse number)

num = input("Enter Number ")
rev=0
length=len(num)
num1= int(num)
#last_digit=num1%10

for i in range(length):
  rev=(rev*10)+num1%10
  num1=num1//10

print(rev)

# method2

str1=' '
word1 = input("Enter Word ")

for i in word1:
  str1=i+str1



str2=' '
word2 = input("Enter Number")

for i in word2:
  str2=i+str2



print(str1)
print(str2)

Enter Number 883832
238388
Enter Word uslesls
Enter Number70232
slselsu
23207

In [ ]:
#assignment 2 Question no. 1 (sum of natural numbers) - For loop

startNum= int(input("Enter start num "))
endNum= int(input("Enter end num "))
sum =0

for i in range(startNum, endNum+1):
  sum+=startNum
  startNum+=1


print(sum)

Enter start num 1
Enter end num 10
55